*{
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../img/darkbike.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #060606;
  color: #eaeaea;
}
header i{
  color:white;
}

i {
  font-size: 14px;
  color: #003366;
}

h3 {
  margin-top: 30px;
  font-size: 17px;
  color: #eaeaea;
}

h2 {
  margin-top: 50px:
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 50px;
}

p {
  margin: 20px;
  color: #333333;
  padding: 10px;
  font-size: 13px;
}

li {
  color: #333333;
  font-size: 13px;
}
footer {
  display: flex;
  align-self: center;
  align-items: baseline;
  justify-content: space-around;
  margin-top: 2vw;
  height: 60px;
  background-color: rgb(0, 0, 0);
  width: 100%;
}

footer a{
  margin: 30px 0px 30px 0px;
  text-transform: uppercase;
  color: white;
}

.navigation {
  display: flex;
  align-self: center;
  justify-content: space-around;
  height: 80px;
	width: 100%;
  background-color: rgb(0, 0, 0);
}

.navigation a {
  margin: 30px 0px 30px 0px;
  text-transform: uppercase;
  color: white;

}
