* {
	box-sizing: border-box;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

body {
	margin: 0 auto;
  min-height: 100%;
}

a,
p,
h1,
h2,
h3 {
	font-family: 'Roboto', sans-serif;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.banner {
  align-self: center;
  position: absolute;
}

.navigation {
  display: flex;
  align-self: center;
  justify-content: space-around;
  height: 80px;
  background-color: rgba(1, 1, 1, 0.5);
}

.navigation a {
  margin: 30px 0px 30px 0px;
  text-transform: uppercase;
  color: white;

}
